*{
    padding:0;
    margin:0;
}

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');


body{
    background-color: rgb(17, 0, 28);
    min-height: 100%;
}
h1{
    color:ivory;
    font-family: arial;
}
.nav-bar{
    width:1537px;
    height:80px;
    background: rgba(58, 1, 92);
    display: flex;
    position: fixed;
    top:0;
    /* justify-content:space-evenly; */
    gap:100px;
    z-index: 11;
}
a{
    text-decoration: none;
    color:ivory;
    font-size: x-large;
    position: relative;
}
.nav{
    display: flex;
    align-items: center;
    gap:30px;
    position: relative;
    left:170px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    z-index: 12;
}


#money-tree{
    position: relative;
    left:20px;
    gap:100px;
}
#main-logo{
    position: relative;
    top:13px;
    
}
#contact-img{
    position: relative;
    top:7px;
}
#home-img, #login-img, #signup-img{
    position: relative;
    top:5px;
}
#home:hover,#login:hover,#signup:hover,#contact:hover{
    opacity: 0.4;
    transition: opacity 0.7s;
    text-shadow: 0 0 15px black;
    /* background-color: rgba(242, 245, 248, 0.14);
    transition: 0.7s; */
}

#money-tree:hover{
    background-attachment: fixed;
    background-color: rgba(242, 245, 248, 0.14);
    transition: 0.7s;
    text-shadow: 0 0 15px black;
    border-radius: 10px;

}
.user p{
    color:ivory;
    font-size:15px;
}
.user{
    position: fixed;
    left:1380px;
    top:2px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.user:hover{
    background-attachment: fixed;
    background-color: rgba(242, 245, 248, 0.14);
    transition: 0.7s;
    text-shadow: 0 0 15px black;
    border-radius: 5px;
}
.user img{
    position: relative;
    left:15px;
}
.footer{
    height:150px;
    background: rgb(90, 16, 143);
    display: flex;
    position:absolute;
    bottom:0px;
    /* bottom:0px; */
    top:800px;
    color:ivory;
    font-family: arial;
    /* z-index: 2; */
    width: 100%;
}

.footer h3{
    position: relative;
    left:230px;
    top:10px;
}
.footer p{
    position: relative;
    left:70px;
    top:50px;
    text-align: center;
}

.personal h3{
    position: relative;
    top:12px;
}
.personal p{
    position: relative;
    left:205px;
    top:25px;
}
.buisness h3{
    position: relative;
    left:350px;
    top:12px;
}
.buisness p{
    position: relative;
    top:25px;
    left:340px;
}
.newsletter h2{
    position: relative;
    left:600px;
    top:11px;
}
.newsletter label{
    position: relative;
    display: flex;
    left:510px;
    top:20px;
    text-align: center;
}
form{
    position: relative;
    left:540px;
    top:35px;
    border-collapse: collapse;
    
}

#email{
    width:170px;
    height:25px;
    border-collapse: collapse;
    padding:5px;
    border-radius: 5px;
}
.newsletter button{
    height:35px;
    width:80px;
    transition-duration: 0.4s;
    border-collapse: collapse;
    border-radius: 5px;
}
.newsletter button:hover {
    background-color: rgb(129, 90, 192); 
    color: white;
}
#email:focus{
    background-color: rgb(129, 90, 192); 
    color: white;
}
.footer label:hover, .footer p:hover{
    text-decoration: underline white;
}
.footer label:hover, .footer p{
    transition-duration: 0.4;
}
main{
    flex:1;
}
html,body{
    height: 100%;
}

#login-form{
    height:500px;
    width: 400px;
    background: rgb(123, 44, 191);
    position: relative;
    top:150px;
    left:580px;
    border-radius: 5px;
    
    
}
#login-form h1{
    /* color:rgba(58, 1, 92); */
    position:relative;
    right:380px;
    text-shadow: 3px 3px 10px rgb(207, 184, 226);
}

#Email{
    border-collapse: collapse;
    background-color: transparent; ;
    position:relative;
    right:500px;
    top:70px;
    border:none;
    outline: none;
    border-bottom: 2px solid rgba(58, 1, 92);
    width:325px;
    height:30px;
    transition: 0.4s;
    
    /* text-shadow:0px 0px 1px rgb(0, 0, 0) ; */
}


::placeholder{
    color:rgba(58, 1, 92);
    opacity:1;
    font-size: 18px;
    font-family:sans-serif;
}
#pass{
    border-collapse: collapse;
    background-color: transparent; 
    position:relative;
    right:500px;
    top:150px;
    border:none;
    outline: none;
    border-bottom: 2px solid rgba(58, 1, 92);
    width:325px;
    height:30px;
    transition: 0.4s;
}
.newsletter::placeholder{
    text-decoration: none;
}

#Email:focus{
    font-weight:bold;
    border-bottom: 3px solid rgba(58, 1, 92);
    transform: scale(1.05);
}

#pass:focus{
    font-weight:bold;
    border-bottom: 3px solid rgba(58, 1, 92);
    transform: scale(1.05);
}
.checkbox{
    position: relative;
    display: flex;
    right:500px;
    top:200px;
    
}
input[type="checkbox"]:focus{
    font-weight:bold;
}
.checkbox label{
    font-family: sans-serif;
    position: relative;
    left:5px;
    color:rgb(58, 1, 92);
    transition: 0.2s;

}
.checkbox label:hover{
    font-weight:bold;
    text-decoration: underline;
}
#login-form button{
    color:rgb(58, 1, 92);
    position: relative;
    top:240px;
    right:495px;
    font-size:25px;
    width:320px;
    border:3px solid rgb(58, 1, 92);
    background-color:rgb(128, 92, 186);
    border-radius: 15px;
    /* background-color:transparent; */
    font-family:sans-serif;
    transition: 0.4s;
}
#login-form button:hover,#login-form button:active {
    background-color:rgb(221, 199, 255);
    /* font-weight: bold; */
}
.link-to-signup{
    display: flex;
    position: relative;
    top:265px;
    right:450px;
    
}
.link-to-signup p{
    font-size:18px;
    color:rgb(26, 1, 40)
}
.link-to-signup a{
    font-size:18px;
    left:5px;
    color:rgb(26, 1, 40);
    font-weight:bold;
    transition: 0.4s;
}
.link-to-signup a:hover{
    text-decoration: underline;
}